Source: python3-libfolding
Section: python
Priority: optional
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Build-Depends: debhelper (>= 10), python3-all, python3-setuptools
Standards-Version: 4.1.2
Homepage: https://github.com/asiffer/python3-libfolding
X-Python3-Version: >= 3.2

Package: python3-libfolding
Architecture: all
Depends: libfolding, ${misc:Depends}
Suggests:
Description: Python3 bindings to libfolding 
  libfolding aims to assess unimodality in multivariate data


