Package: python3-libfolding
Version: 1.1.2
Architecture: all
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Installed-Size: 46
Depends: libfolding
Section: python
Priority: optional
Homepage: https://github.com/asiffer/python3-libfolding
Description: Python3 bindings to libfolding
  libfolding aims to assess unimodality in multivariate data
